@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-sidebar {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-bg {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}




.text-primary {
    color: #f3f4f6;
}
.text-secondary {
    color: #d1d5db;
}
.text-accent {
    color: #60a5fa;
}